@import 'reset';

$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

// tabs
.tabs {
  display: flex;
  border-bottom: 1px solid #D7DBDD;
}

  .tab {
    cursor: pointer;
    padding: 5px 30px;
    color: #16A2D7;
    font-size: 12px;
    border-bottom: 2px solid transparent;
  }

  .tab.is-tab-selected {
    border-bottom-color: #4EBBE4;
  }

// header
.siteHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #56727C;
}

.siteHeader__section {
  display: flex;
  align-items: center;
}

  .siteHeader__item {
    padding: 5px 15px;
    font-size: 12px;
  }

  .siteHeader__item + .siteHeader__item {
    margin-left: 5px;
  }

  .siteHeader__item.is-site-header-item-selected {
    color: #FFFFFF;
    background-color: #415F69;
    border-radius: 4px;
  }

  .siteHeaderLogo {
    font-size: 20px;
    line-height: 0;
    color: white;
  }

  .siteHeaderButton {
    cursor: pointer;
    color: #D9E9EF;
  }
